body {
    background-color: #44d67f;
    font-family: Arial, sans-serif;
    text-align: center;
    color: #a2d397;
    overflow-x: hidden;   
}

.container {
    align-items: center;
    color: #c0ebb6;
    max-width: 700px;
    min-width: 500px;
    min-height: 300px;
}

.calculator_section {
    justify-content: space-between;
    display: flex;
    max-width: 1000px;
    max-height: 1500px;
}

.text_section {
    margin-top: 200px;
    flex-direction: center;
    min-width: 1105px;
    text-align: center;
    font-size: 45px;
    color: #23461a;
    animation: fadeIn 2s ease;
}

.image_container {
    margin-left: 100px;
    align-items: right;
    justify-content: flex-end;
    align-items: flex-start;
    animation: fadeInDown 1.5s;
}

.image_container img {
    width: 920px;
    height: 900px;
    animation: fadefromright 1s ease 0s 1 alternate forwards;
}

.text_section select {
    margin-top: 35px;
    appearance: none;
    height: 60px;
    width: 380px;
    padding: 18px;
    font-size: 18px;
    color: #1d5a2e;
    border-radius: 15px;
    cursor: pointer;
    background-color: #f2fcf0;
    transition: background-color ease 0.1s;
    animation: SlideFromRight 1.2s ease 0s 1 alternate forwards;
}

select:hover {
    background-color: #d9ecdb;
    color: #1d5a2e;
}

select:focus {
    background-color: #d9ecdb;
}

option {
    background-color: #d9ecdb;
    color: #1d5a2e;
    padding: 15px;
}

h1 {
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 800;
    font-family: Arial, sans-serif;
}

#bmiCalculator,
#bmrCalculator,
#calorieIntakeCalculator,
#heartRateCalculator,
#waterIntakeCalculator
 {
    display: none;
}

#bmiResult,
#bmrResult,
#calorieIntakeResult,
#heartRateResult,
#waterIntakeResult {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}

.calculator button {
    font-size: 15px;
    margin-top: 20px;
    max-height: auto;
    max-width: auto;
    padding: 15px;
    background-color: #2e663e;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: color 0.3s ease, transform 0.6s ease;
    animation: zoomIn 1.2s ease;
}

.calculator button:hover {
    background-color: #74af86;
    font-size: 1.02rem;
    transform: scale(1.1);
    transition-duration: 0.6s;
}

.calculator label {
    font-size: 25px;
    margin-bottom: 15px;
    color: #23461a;
    font-weight: bold;
    width: 300px;
    text-align: center;
    display: inline-block;
    animation: fadeInDown 1s;
}

.calculator h2 {
    color: #23461a;
    font-size: 35px;
    margin-bottom: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.calculator input,
.calculator select {
    width: 850px;
    height: 50px;
    box-sizing: border-box;
    padding: 8px;
    line-height: 2;
    font-size: 16px;
    border: 1px solid #255e25;
    border-radius: 10px;
    background-color: #e4f0e5;
    text-align: center;
    margin-bottom: 15px;
    animation: SlideFromRight 1.2s ease 0s 1 alternate forwards;
}

h3 {
    text-align: center;
    font-weight: 500;
    font-size: 30px;
    color: #134621;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    animation: HeartBeat 2s ease 0s 1 alternate forwards;
    margin-left: 50px;
    margin-bottom: 40px;
}