body {
    background-color: #A3BFAF;
    overflow-x: hidden;
    overflow-y: hidden;
}

.main_container {
    align-items: center;
    justify-content: space-between;
    display: flex;
    max-width: 1000px;
    max-height: 1500px;
}

.profile-details {
    text-align: center;
    margin-left: 80px;
    margin-top: 10px;
    flex-direction: center;
    min-width: 900px;
}

.image-container {
    margin-left: 50px;
    width: 300px;
    margin-left: 50px;
    align-items: right;
    justify-content: flex-end;
    align-items: flex-start;
    animation: fadeInDown 1.5s;
}

.image-container img {
    margin-left: 90px;
    width: 2500px;
    height: 900px;
    animation: fadefromright 1s ease 0s 1 alternate forwards;
}

.profile-details h2 {
    margin-top: 10px;
    margin-left: 60px;
    text-align: left;
    flex-direction: column;
    font-weight: bold;
    font-size: 30px;
    color: #023f23;
    animation: fadeIn 2s ease;
    animation: FadeInLeft 1s ease 0s 1 normal forwards;
}

h1 {
    flex-direction: column;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    color: #023f23;
    animation: fadeIn 2s ease;
    animation: FadeInLeft 1s ease 0s 1 normal forwards;
    margin-bottom: 80px;
}

button {
    margin-top: 30px;
    width: 150px;
    padding: 12px 20px;
    font-size: 18px;
    border: none;
    border-radius: 25px;
    background-color: #1E593E;
    color: rgb(205, 224, 205);
    cursor: pointer;
    transition: background-color 0.3s;
    transition: transform 0.3s ease;
    animation: zoomIn 1.2s ease;
}

button:hover {
    transform: scale(1.1);
    background-color: #02733E;
}
