body {
    background-color: #e6e6e6;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#menu-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(#175a0e, #30792d);
    height: 90px;

}

#logo {
    font-weight: bolder;
    margin-right: 190px;
    text-decoration: none;
    text-shadow: 1px 1px 2px #24442d,
        2px 2px 4px #24442d,
        3px 3px 6px #24442d;
    font-size: 48px;
    animation: slideInFromAbove 1.5s ease;
    font-family: 'Raleway', sans-serif;
}

#logo a {
    font-weight: bolder;
    color: rgb(255, 255, 255);
    margin-right: 20px;
    text-decoration: none;
    text-shadow: 1px 1px 2px #24442d,
        2px 2px 4px #24442d,
        3px 3px 6px #24442d;
    font-size: 50px;
    transition: color 0.3s ease, transform 0.6s ease;

}

#logo a:hover {
    color: #c4e2cc;
    transform: scale(1.1);
    transition-duration: 0.6s;
}

#menu-bar ul {
    display: flex;
    align-items: left;
    margin: 0;
    padding: 0;
}

#menu-bar li {
    animation: slideInFromAbove 1.5s ease;
    list-style: none;
    margin: 5px 15px;
}

#menu-bar li a {
    display: block;
    font-weight: bold;
    padding: 10px 20px;
    text-decoration: none;
    color: rgb(177, 224, 193);
    transition: color 0.5s ease;
    transition: color 0.3s ease, transform 0.3s ease;
}

#menu-bar li a:hover {
    color: rgb(169, 226, 169);
    font-size: 1.05rem;
    transform: scale(1.1);
    transition-duration: 0.6s;
}

#get-started a {
    display: inline-block;
    background-color: #3d803b;
    color: rgb(205, 224, 205);
    padding: 15px 25px;
    cursor: pointer;
    margin-left: 100px;
    border-radius: 30px;
    text-decoration: none;
    transition: transform 0.3s ease;
    animation: slideInFromAbove 1.5s ease;
}

#get-started a:hover {
    transform: scale(1.1);
}

.intro {
    background-color: #e6e6e6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 92vh;
    font-family: 'Lato', sans-serif;
}

.text-content {
    margin-left: 50px;
    flex-direction: column;
    width: 70%;
    flex: 1.5;
    align-items: center;
}

.intro h1 {
    flex-direction: column;
    text-align: center;
    font-weight: bold;
    font-size: 75px;
    color: #23461a;
    border-radius: 40px;
    animation: fadeIn 2s ease;
    animation: FadeInLeft 1s ease 0s 1 normal forwards;
}

#about {
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-size: 20px;
    color: #23461a;
    font-weight: 700;
    line-height: 1.5;
    animation: fadeIn 2s ease;
}

.image-content {
    width: 40%;
    flex: 0.7;
    align-items: right;
    justify-content: flex-end;
    align-items: flex-start;
    animation: fadeInDown 1s;
}

.image-content img {
    margin-left: 120px;
    width: 500px;
    height: 700px;
    animation: fadefromright 1s ease 0s 1 normal forwards;
}

.signup-button {
    height: 30px;
    width: 100px;
    display: inline-block;
    padding: 10px 15px;
    font-size: 18px;
    border-radius: 30px;
    background-color: #175a0e;
    color: rgb(205, 224, 205);
    border: #24442d;
    cursor: pointer;
    text-decoration: none;
    transition: transform 0.3s ease;
    animation: zoomIn 2s ease;
    filter: drop-shadow(7px 5px 3px #030303);
}

.signup-button:hover {
    transform: scale(1.1);
    background-color: #297a1e;
}

#slogan {
    font-family: 'Lato', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 100;
    color: rgb(253, 253, 253);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1),
        2px 2px 4px rgba(0, 0, 0, 1),
        3px 3px 6px rgba(0, 0, 0, 1);
    letter-spacing: 2px;
    line-height: 1.5;
    animation: fadeInDown 1s;
}

#about-section {
    margin-top: 1px;
    padding-top: 5px;
    text-align: center;
    background-color: #102e09ec;
    height: 155px;
    font-size: 15px;
    align-items: center;
    color: #d9e0d2;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1),
        2px 2px 4px rgba(0, 0, 0, 1),
        3px 3px 6px rgba(0, 0, 0, 1);
    animation: fadefrombottom 1s ease 0s 1 alternate forwards;
}

.contact_item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact_item img {
    animation: clipAnimation 2s ease forwards;
    margin: 17px;
    height: 28px;
    filter: drop-shadow(7px 5px 3px #000000);
    opacity: 1;
    transition: transform 0.3s ease;
}

.contact_item img:hover {
    height: 32px;
}